/* choses à faire avant de commencer un projet */
*{
	box-sizing: border-box;
	font-family: sans-serif;
}

html{
	line-height: 1.15;
}

body{
	margin:0;
	background-color: #fff3db;
}



/* Allez, on s'y met ! */

.container{
	margin-inline: auto;
	padding-inline: 2rem;
	max-width: 70rem;
}

h1{
	background-color: #f02425;
	color: white;
	text-transform: uppercase;
	font-size: 3rem;
	text-align: center;
}

h2{
	color: #f02425;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 900;
}

h3{
	text-align: center;
	font-size: 1.5rem;
	font-style: italic;
	text-decoration: underline;
	font-weight: 200;
	
}

.header-fig{
	margin: 0;
	width: 100%;
}

.header-img{
	object-fit: cover;
	width: 100%;
}

.blue-underline{
	font-weight: 900;
	color: blue;
	text-decoration: underline;
}

.bold-red{
	font-weight: 900;
	color: #f02425;
}

.red{
	color: #f02425;
}

.astuce{
	background-color: #f0c68f;
	color: grey;
	font-weight: 900;
	font-style: italic;
	text-align: center;
	padding: 2px 0;
}